[run]
omit = 
    */Backup/*
    */Benchmark/*
    */Images/*  
    */Projects/*
    */PyInstaller 3.2.1-dev/*
    */PyInstaller-3.2.1/*
    */Reference/*
    */Releases/*
    */User_Manual/*
    */tests/*

[report]
fail_under=0
