# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
PyInstaller-3.2.1

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Personal Ignore
WHAT/url*
/Backup
User_Manual/Backup
User_Manual/Revision
WHAT/backup
Redaction/
Reference/
Projects/
Releases/
Rainbird manual/
WHAT.pref
Doc/
Backup_Projects/
WHATMANUAL_CR1.docx
WHATMANUAL_CR1.odt
WHATMANUAL/Revision/
log_changes.odt
WHAT 4.1.5/
WHAT 4.1.6/
WHAT 4.1.7/
WHAT 4.1.9/
WHAT/url.txt
WHAT/urlsingle.txt
Organigram.svg
WHATMANUAL/Local_Optimum.odt
WHATMANUAL/Note_Recharge_article.odt
WHAT_organigram.odt
Technical Note - Recharge/
WHAT/Icons/SVG/dev/

# Technical Paper Meteo

Author Info Pack (Computer and Geoscience).pdf
WHAT Technical Note 0.3.odt
Technical Note - Meteo/Revision
Meteo_Ref_notes_JSG.odt

# LaTeX Files

*.log
*.aux
*.gz
*.out
*.bbl
*.blg
*.lof
*.toc
*.bcf
*.xml
*.spl

WHAT/gotogit.sh
WHAT/test.pdf
WHAT/wet_days_0.5mm.csv
WHAT/err_pooled.h5
WHAT/GLUE.h5
WHAT/brf_mod/BRFInput.txt
WHAT/brf_mod/BRFOutput.txt
WHAT/GLUE.npy
WHAT/brf_mod/kgs_brf.par
WHAT/brf_mod/kgs_brf.par
WHAT/brf_mod/kgs_brf.par
WHAT/brf_mod/kgs_brf.par
projet_structure.svg