# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Windows
desktop.ini

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# ---- Tests output files

water_level_datafile.*
waterlvl_manual_measurements.*
glue_rawdata.npy

# ---- Personal Ignore

utilisateurs_gwhat.docx
backup/
*/Backup/
references/
Projects/
*/Revision/
.spyproject/
releases/*.zip
releases/build
releases/dist
releases/start_gwhat.bat
releases/gwhat_*
run_cython.bat
environment/

build_ext.bat
gwrecharge_calculs.c
kgs_brf.exe
WHAT.pref
BRFInput.txt
BRFOutput.txt
WLCInput.txt
WLCOutput.txt
GLUE.npy
*.par
*.wif

url.txt
urlsinglestation.txt

climate_station_database.npy

Organigram.svg
WHATMANUAL/Local_Optimum.odt
WHATMANUAL/Note_Recharge_article.odt
WHAT_organigram.odt

# Technical Paper Meteo

Author Info Pack (Computer and Geoscience).pdf
WHAT Technical Note 0.3.odt
Technical Note - Meteo/Revision
Meteo_Ref_notes_JSG.odt

# LaTeX Files

*.log
*.aux
*.gz
*.out
*.bbl
*.blg
*.lof
*.toc
*.bcf
*.xml
*.spl
