# https://travis-ci.org/jnsebgosselin/WHAT

language: python
python: "3.6"

install:
  - sudo apt-get update
  - sudo apt-get wine
  - pip install pyqt5
  - sudo apt-get install cython3
  - sudo apt-get install libhdf5-dev
  - pip install h5py
  - pip install xlsxwriter
  - pip install xlrd
  - pip install pytest
  - pip install pytest-qt
  - pip install pytest-xvfb
  - pip install pytest-mock
  - pip install pytest-cov
  - pip install pytest-ordering
  - pip install flaky
  - pip install coveralls
  - pip install matplotlib
  - pip install scipy
  - pip install cython
  - python setup.py build_ext --inplace

script:
  python runtests.py
  # - coverage run --source=WHAT --cov=WHAT --cov-report=term-missing -m py.test

after_success:
  - coveralls
